//
@import "palette";

@mixin text-shadow($shadow:#000) {
    text-shadow: 0 1px 1px $shadow, 0 -1px 1px $shadow, 1px 0 1px $shadow, -1px 0 1px $shadow;
}

html, body {
    background: var(--color-primary-2);
}

nav {
    background: var(--color-primary-1);

    a, a:visited {
        @include text-shadow(#EEE);
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        color: var(--color-complement-4);

        &.navbar-brand {
            font-weight: 800;
        }
    }

    a:hover {
        color: var(--color-secondary-2-3);
    }

}

