//
@import "palette";

@mixin text-shadow($shadow:#000) {
    text-shadow: 0 1px 1px $shadow, 0 -1px 1px $shadow, 1px 0 1px $shadow, -1px 0 1px $shadow;
}

html, body {
    background: var(--color-primary-4);
}

// maybe export into nav? though it's still small
nav {
    background: var(--color-secondary-1-2);

    a, a:visited {
        @include text-shadow(#EEE);
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        color: var(--color-complement-4);

        &.navbar-brand {
            font-weight: 800;
            font-size: 30px;
        }
    }

    a:hover {
        color: var(--color-secondary-2-3);
    }

}

.footer{
    padding: 2rem;
    background: var(--color-secondary-1-2);
}

@import "goods";
