.cart--details, .checkout {
    .table {
        text-align: start;
        line-height: 26px;

        > div > div {
            padding: 5px 10px;
            border-left: 1px solid #ccc;
            text-align: right;

            &:first-child {
                text-align: left;
                border-left: none;
            }
        }


        > div:nth-child(2n+1) {
            background: var(--color-secondary-2-2);
        }

    }

    .total {
        text-align: right;
        padding: 5px 10px;
    }

    .bottomRow {
        justify-content: space-between;
    }

    a {
        width: 100%;
        height: 100%;
        display: block;
        background: var(--color-secondary-2-4);
        color: #000;
        text-shadow: none;
        cursor: pointer;
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem;

        &:hover {
            background: var(--color-secondary-2-2);
        }
    }

}
