.checkout {
    justify-content: center;

    > div {
        margin: 10px;
        max-width: 50%;
    }

    .clientInfo {
        justify-content: space-between;
    }

    label, input[type='radio'] {
        cursor: pointer;
    }

    .details {
        background: var(--color-secondary-2-1);
        align-self: flex-start;
    }


    input[type='text'], textarea {
        padding: 10px;
        outline: none;
        border: 1px solid var(--color-primary-4);
        border-radius: 5px;
        min-width: 200px;
        font-size: 18px;
        width: 100%;

        &.long {
            min-width: 400px;
        }

        .is-invalid {
            border: 2px solid var(--red);
        }
    }

    textarea {
        height: 100%;
        min-height: 80px;

        width: 100%;
        max-width: 100%;
    }

    .half {
        width: 50%;

        &.currencyBox {
            width: 50%;
            margin: auto 20px;
            justify-content: space-between;
            display: flex;
        }

    }



}

.order {
    justify-content: center;
    button{
        @include standardButton;
        width:30%;
        line-height: 2;
        background: var(--color-complement-2);
        transition: background 0.5s;
        &:hover{
            background: var(--color-complement-1);
        }
    }
}
