.goods {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .itemContainer {
        width: 25%;
        padding: 15px;
    }

    .goods--item {
        background: var(--color-secondary-1-1);
        padding: 15px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 3px;

        h4 {
            margin-top:10px;
        }

        img {
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
        }

        .bottomRow {
            width: 100%;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            .price {
                margin: auto 0;
                font-weight: 600;
                width: 90px;
                font-size: 24px;
                line-height: 24px;
            }

            .buyBtnBox {
                display: flex;
                flex-grow: 1;
            }

            .buyBtn {
                width: 100%;
                cursor: pointer;
                justify-content: center;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                user-select: none;
                border: 1px solid transparent;
                padding: .375rem .75rem;
                font-size: 1rem;
                line-height: 1.5;
                border-radius: .25rem;
                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                background: var(--color-complement-1);

                &:hover {
                    background: var(--color-complement-2);
                }

                &:active, &:focus {
                    outline: none;
                }
            }
        }
    }
}

.goods--block {
    h1, h2, h3 {
        color: var(--color-complement-2);
    }
}

.goods--block + .goods--block {
    margin-top: 40px;
}

