.goods {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .itemContainer {
        width:100%;
        padding: 15px;
        @include tablet{
            width: 50%;
        }

        @include desktop{
            width: 25%;
        }

    }

    .goods--item {
        background: var(--color-primary-1);
        padding: 15px;
        justify-content: space-between;
        height: 100%;
        border-radius: 3px;

        h4 {
            margin-top: 10px;
        }

        img {
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
        }

        .bottomRow {
            width: 100%;
            margin-top: 10px;
            justify-content: space-between;
            height: 38px;
            line-height: 38px;
            font-size: 24px;
            font-weight: 500;

            .price {
                margin: auto 0;
                width: 90px;
            }

            .quantityControls {
                user-select: none;
                justify-content: space-between;
                width: 100%;

                .quantity {
                    width: 40px;
                    text-align: center;
                }

                .minus, .plus {
                    img {
                        margin: 5px;
                    }

                    cursor: pointer;
                    background: var(--color-secondary-2-4);
                    border-radius: 50%;
                    width: 26px;
                    height: 26px;
                    vertical-align: middle;
                    line-height: 22px;
                    display: flex;
                    margin: auto;
                    justify-content: center;

                    &:hover {
                        background: var(--color-secondary-2-3);
                    }
                }

                .minus {
                    background: var(--red);

                    &:hover {
                        background: var(--red);
                    }
                }
            }

            .buyBtnBox {
                display: flex;
                flex-grow: 1;
                justify-content: center;
            }

            .buyBtn {
                width: 100%;
                @include standardButton;
                background: var(--color-secondary-2-4);
                &:hover {
                    background: var(--color-secondary-2-3);
                }

                &:active, &:focus {
                    outline: none;
                }
            }
        }
    }
}

.goods--block {
    h1, h2, h3 {
        color: var(--color-complement-4);
    }
}

.goods--block + .goods--block {
    margin-top: 40px;
}

