// maybe export into nav? though it's still small
nav {
    background: var(--color-primary-0);

    &.row {
        padding: 0;
        margin-left: -15px;
        @include tablet{
            margin-left: 0;
        }
        @include phone{
            margin-left: 0;
        }
    }

    a, a:visited {
        @include text-shadow(#EEE);
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        color: var(--color-complement-4);


    }

    .navbar-brand {
        font-weight: 900;
        font-size: 30px;
        margin: 5px 20px;
    }

    a:hover {
        color: var(--color-complement-3);
    }

    padding: 0;
    justify-content: space-between;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: fixed;
    top: 0;
    width: 100%;

    .currency{
        cursor: pointer;
        margin: 0 5px;
        font-size: 30px;
        padding: 5px;
        background: var(--color-secondary-2-0);
        transition: background 0.3s;
        width: 44px;
        font-weight: 500;
        vertical-align: middle;
        height: 100%;
        line-height: 42px;
        text-align: center;
        user-select: none;

        &:hover {
            background: var(--color-secondary-2-2);
        }
    }

}

body > .container {
    padding-top: 120px;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include phone {
        padding-top: 80px;

    }
}
