.orders{
    .order{
        justify-content: center;
        align-self: center;
        margin-bottom:20px;
        padding: 20px;
        background: var(--color-primary-2);
        min-width: 320px;
    }
    .orderItems{
        background: var(--color-secondary-2-0);
    }
    .details{
        >div{
            margin-bottom:5px;
            &:last-child{
                margin-bottom:20px;
            }
        }
    }

}
