// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=40I1c0kiCFn8GVde7NVmtwSqXtg */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #FFBF6B;	// Main Primary color */
$color-primary-1: #FFE1BA;
$color-primary-2: #FFCF8F;
$color-primary-3: #FFB24C;
$color-primary-4: #E99525;

$color-secondary-1-0: #A158C6;	// Main Secondary color (1) */
$color-secondary-1-1: #DBB2F0;
$color-secondary-1-2: #BD80DC;
$color-secondary-1-3: #863AAC;
$color-secondary-1-4: #711F9B;

$color-secondary-2-0: #C6F466;	// Main Secondary color (2) */
$color-secondary-2-1: #E6FCB8;
$color-secondary-2-2: #D5F88B;
$color-secondary-2-3: #B9EF47;
$color-secondary-2-4: #9FDA22;

$color-complement-0: #5894C2;	// Main Complement color */
$color-complement-1: #B2D4EF;
$color-complement-2: #80B3DA;
$color-complement-3: #3977A7;
$color-complement-4: #206396;

html{
    --color-primary-0: #{$color-primary-0};
    --color-primary-1: #{$color-primary-1};
    --color-primary-2: #{$color-primary-2};
    --color-primary-3: #{$color-primary-3};
    --color-primary-4: #{$color-primary-4};

    --color-secondary-1-0: #{$color-secondary-1-0};
    --color-secondary-1-1: #{$color-secondary-1-1};
    --color-secondary-1-2: #{$color-secondary-1-2};
    --color-secondary-1-3: #{$color-secondary-1-3};
    --color-secondary-1-4: #{$color-secondary-1-4};

    --color-secondary-2-0: #{$color-secondary-2-0};
    --color-secondary-2-1: #{$color-secondary-2-1};
    --color-secondary-2-2: #{$color-secondary-2-2};
    --color-secondary-2-3: #{$color-secondary-2-3};
    --color-secondary-2-4: #{$color-secondary-2-4};

    --color-complement-0: #{$color-complement-0};
    --color-complement-1: #{$color-complement-1};
    --color-complement-2: #{$color-complement-2};
    --color-complement-3: #{$color-complement-3};
    --color-complement-4: #{$color-complement-4};

    --red: #dc3545;
}
