// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=70j0u0kiCFn8GVde7NVmtwSqXtg */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #FF9D6B;	// Main Primary color */
$color-primary-1: #FFD1BA;
$color-primary-2: #FFB48F;
$color-primary-3: #FF884C;
$color-primary-4: #E96725;

$color-secondary-1-0: #FFC36B;	// Main Secondary color (1) */
$color-secondary-1-1: #FFE3BA;
$color-secondary-1-2: #FFD28F;
$color-secondary-1-3: #FFB74C;
$color-secondary-1-4: #E99A25;

$color-secondary-2-0: #5A8DC3;	// Main Secondary color (2) */
$color-secondary-2-1: #B3D0EF;
$color-secondary-2-2: #82ADDB;
$color-secondary-2-3: #3B71A8;
$color-secondary-2-4: #225C98;

$color-complement-0: #53C5A0;	// Main Complement color */
$color-complement-1: #AFF0DA;
$color-complement-2: #7BDCBC;
$color-complement-3: #33AC84;
$color-complement-4: #199B70;

html{
    --color-primary-0: #{$color-primary-0};
    --color-primary-1: #{$color-primary-1};
    --color-primary-2: #{$color-primary-2};
    --color-primary-3: #{$color-primary-3};
    --color-primary-4: #{$color-primary-4};

    --color-secondary-1-0: #{$color-secondary-1-0};
    --color-secondary-1-1: #{$color-secondary-1-1};
    --color-secondary-1-2: #{$color-secondary-1-2};
    --color-secondary-1-3: #{$color-secondary-1-3};
    --color-secondary-1-4: #{$color-secondary-1-4};

    --color-secondary-2-0: #{$color-secondary-2-0};
    --color-secondary-2-1: #{$color-secondary-2-1};
    --color-secondary-2-2: #{$color-secondary-2-2};
    --color-secondary-2-3: #{$color-secondary-2-3};
    --color-secondary-2-4: #{$color-secondary-2-4};

    --color-complement-0: #{$color-complement-0};
    --color-complement-1: #{$color-complement-1};
    --color-complement-2: #{$color-complement-2};
    --color-complement-3: #{$color-complement-3};
    --color-complement-4: #{$color-complement-4};
}
